* {
    background-color: #F7F4F0;
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.info {
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: x-large;
    font-family: Amaranth;
    color: #85651B;
}