* {
    background-color: #F7F4F0;
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.main-menu {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Amaranth;
    font-size: xx-large;
}

.main-menu li {
    list-style: none;
    padding: 20px;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.main-menu a:hover {
    color: red;
}